{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>AFROHOIC MUSIC</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- css -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<link href="{% static 'css/jcarousel.css' %}" rel="stylesheet" />
<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
<link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<link href="{% static 'css/custom.css' %}" rel="stylesheet" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'subscribe' %}"><img style="height: 5em;
    position: relative;
    top: -2em;" src={% static "img/logoacc.png" %} alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'subscribe' %}">HOME</a></li> 
						<li><a href="#content">ABOUT US</a></li>
						<li><a href="{% url 'artistes' %}">CLIENTS</a></li>
                        <li><a href="{% url 'artistes' %}">ARTISTS</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
	</header>



    <h1 id="h1artistes">ARTISTES</h1>

    <section id="flexartistes">

        <div id="artiste1">

            <a id="artist-select" href="{% url 'olusegun-music' %}"><img id="img-artistes" src={% static "img/olusegunartacc.jpg" %} alt=""></a>

            <p id="partistes">OLUSEGUN MUSIC</p>

        </div>

        <div id="artiste2">

            <a id="artist-select" href="{% url 'vennessa-music' %}"><img id="img-artistes" src={% static "img/afrovanessa.jpg" %} alt=""></a>

            <p id="partistes">VENNESSA JACKSON</p>

        </div>

        <div id="artiste3">

            <a id="artist-select" href="{% url 'leo9ice-music' %}"><img id="img-artistes" src={% static "img/olusegun1.jpg" %} alt=""></a>

            <p id="partistes">LEO9ICE</p>

        </div>

        <div id="artiste4">

            <a id="artist-select" href="{% url 'lin-music' %}"><img id="img-artistes" src={% static "img/olusegun4.jpg" %} alt=""></a>

            <p id="partistes">LIN NJOROGE</p>

        </div>

        <div id="artiste5">

            <a id="artist-select" href="{% url 'skeffi-music' %}"><img id="img-artistes" src={% static "img/olusegun2.jpg" %} alt=""></a>

            <p id="partistes">SKEFFI</p>

        </div>

        <div id="artiste6">

            <a id="artist-select" href="{% url 'chuma-music' %}"><img id="img-artistes" src={% static "img/olusegun3.jpg" %} alt=""></a>

            <p id="partistes">CHUMA</p>

        </div>

        <div id="artiste7">

            <a id="artist-select" href="{% url 'iceboiy-music' %}"><img id="img-artistes" src={% static "img/olusegunacc7.jpg" %} alt=""></a>

            <p id="partistes">ICEBOIY</p>

        </div>


    </section>

    <footer style="top:15em;">
        <div class="footer-segment">
            <img id="img-footer" src={% static "img/logoacc.png" %} alt="">
        </div>
        <div id="footer">
            <div class="footer-segment">
                <h4>Contact Us</h4>
                <p>Email: info@afroholicmusic.com</p>
                <p>Phone: +23481104362248</p>
                <p>Address: Ikeja, Lagos.</p>

                <div class="social-media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
    </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
        <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
        <script src="{% static 'js/portfolio/setting.js' %}"></script>
        <script src="{% static 'js/jquery.flexslider.js' %}"></script>
        <script src="{% static 'js/animate.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
    </body>
    </html>