{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afroholic</title>
    <link rel="stylesheet" href="{% static 'css/indexprofile.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/indexprofile.js' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{% static 'images/Afroholic(1).png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>

    <nav>
        <input type="checkbox" id="check">
        <label id="checkbtn" for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>

        <a href="{% url 'subscribe' %}"> <img id="logoimg" src={% static "img/logoacc.png" %} alt="LogoREFXG"></a>

        <ul>
            <a href="{% url 'subscribe' %}"><img id="logoimg1" src={% static "img/logoacc.png" %} alt="LogoREFXG"></a>
            <li><a href="{% url 'subscribe' %}">HOME</a></li>
            <li><a href="{% url 'department' %}">DEPARTMENTS</a></li>
            <li><a href="{% url 'artistes' %}">CLIENTS</a></li>
            <li><a href="{% url 'artistes' %}">ARTISTES</a></li>

        </ul>

    </nav>

    <section>

        <h1 id="h1department">DEPARTMENTS</h1>

        <div id="department-flex">


            <div id="dep1">

                <img id="dep-img" src={% static "img/publishing.png" %} alt="">

                <h2 id="h2dep">MUSIC SYNC AND LICENSING</h2>

                <p id="dep-line"></p>

                <P id="pdep">We elevate artists music career with our specialized sync and licensing services. We facilitate partnerships between artists and various media platforms, ensuring your music reaches new audiences through films, TV shows, commercials, and
                    more. Let us help you navigate the licensing landscape and maximize your earning potential while showcasing your talent to the world. </P>




            </div>
            <div id="dep2">

                <img id="dep-img" src={% static "img/distribution.png" %} alt="">

                <h2 id="h2dep">DISTRIBUTION</h2>

                <p id="dep-line"></p>

                <p id="pdep"> Through our distribution platform, we assist artists in sharing their music worldwide, with the primary goal of fostering growth. Additionally, we aid artists in generating income from every piece of work they release. Even in split sharing
                    and royalties. </p>




            </div>
            <div id="dep3">

                <img id="dep-img" src={% static "img/consulting.png" %} alt="">

                <h2 id="h2dep">CONSULTING</h2>

                <p id="dep-line"></p>

                <p id="pdep">With a team boasting over two decades of collective experience, this sector of the company focuses on artist development, strategic resource allocation, and effective music marketing. Our mission is to support artists in reaching their
                    fullest potential and expanding their audience reach.
                </p>




            </div>
            <div id="dep4">

                <img id="dep-img" src={% static "img/rights.png" %} alt="">

                <h2 id="h2dep">SHOWS & LIVE PERFORMANCE</h2>

                <p id="dep-line"></p>

                <p id="pdep">We bring a difference in our live performances with our comprehensive range of services tailored to meet the unique needs of artists and event organizers. From stage setup and technical support to artist bookings and venue coordination,
                    we're here to ensure your live shows are unforgettable experiences for both performers and audiences alike. </p>




            </div>
            <div id="dep5">

                <img id="dep-img" src={% static "img/management.png" %} alt="">

                <h2 id="h2dep">MANAGEMENT</h2>

                <p id="dep-line"></p>

                <p id="pdep">Our management team crafts customized and detailed strategies tailored to each artist, ensuring they can reach maximum and achievable goals</p>




            </div>

        </div>

    </section>

    <footer style="top:15em;">
        <div class="footer-segment">
            <img id="img-footer" src={% static "img/logoacc.png" %} alt="">
        </div>
        <div id="footer">
            <div class="footer-segment">
                <h4>Contact Us</h4>
                <p>Email: info@afroholicmusic.com</p>
                <p>Phone: +23481104362248</p>
                <p>Address: Ikeja, Lagos.</p>

                <div class="social-media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
    </footer>