{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afroholic</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{% static 'images/Afroholic(1).png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label id="checkbtn" for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>

        <img id="logoimg" src={% static "images/logoacc.png" %} alt="LogoREFXG">

        <ul>
            <img id="logoimg1" src={% static "images/logoacc.png" %} alt="LogoREFXG">
            <li><a href="">ABOUT</a></li>
            <li><a href="">DEPARTMENTS</a></li>
            <li><a href="">CLIENTS</a></li>
            <li><a href="">AFFILIATES</a></li>
            <li><a href="">J2N</a></li>

        </ul>
    </nav>

    <section id="img-slide">

        <div id="fb1">



            <h2 id="hfb1">AFROHOLIC</h2>

            <p id="pfb1">Holic : a person having an abnormal desire for or dependence on… <br><br> AFROHOLIC Our name speaks for itself. We love all types of music. However we have chosen to spotlight the diverse music coming out of the continent of Africa. The number
                of dialects and languages in Africa is simply mind boggling. What’s even more remarkable is that when accompanied by music it doesn’t matter what the language is. Whether you understand the lyrics or not, the music just connects. <br>                AFROBEATS | AFROFUNK | AFROSOUL | AFROHOUSE | AFROJAZZ | AFROMANCE | AFROHILIFE | AFROCONTEMPORARY. <br> We live and love it all. Welcome home!</p>

            <div>
                <img id="logoimgslide" src={% static "images/logoacc.png" %} alt="">
            </div>



        </div>

        <div id="fb11">

            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegun1.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegun2.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegun3.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegun4.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/OLÚSÉGUN.jpg" %}>




            <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex > x.length) {
                        myIndex = 1
                    }
                    x[myIndex - 1].style.display = "block";
                    setTimeout(carousel, 4000); // Change image every 2 seconds
                }
            </script>

        </div>


    </section>

    <section id="stats">

        <div id="major-m">

            <h2 id="stat-numbers">1</h2>
            <span id="stat-span1">Markets</span>


        </div>

        <div id="followers">

            <h2 id="stat-numbers">100k</h2>
            <span id="stat-span2">Followers</span>


        </div>

        <div id="countries">

            <h2 id="stat-numbers">10</h2>
            <span id="stat-span3">Countries</span>


        </div>

        <div id="streams">

            <h2 id="stat-numbers">10m</h2>
            <span id="stat-span4">Streams</span>


        </div>

        <div id="awards">

            <h2 id="stat-numbers">2</h2>
            <span id="stat-span5">Awards</span>


        </div>

    </section>


    <section id="latest">

        <h1 id="hlatest">LATEST <br> PROJECTS</h1>

        <div class="dots-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div id="image-flex">

            <div>

                <p style="text-align: center;bottom: 2em;
                position: relative;">MY BABY <br>" OLUSEGUN "
                </p>
                <h2 style="text-align: center;bottom: 1em;
                position: relative;">01</h2>

                <p id="img-flex1line"></p>

                <img id="img-flex1" src={% static "images/mybabyacc.png" %}>
            </div>

            <div>

                <p style="text-align: center;">AFROHEAT 2 <br> " SAVY,LEO9ICE <br> & ICEBOIY OLA "
                </p>
                <h2 style="text-align: center;">02</h2>
                <p id="img-flex2line"></p>

                <img id="img-flex2" src={% static "images/afroholicnr.jpg" %}>

            </div>





        </div>

    </section>


    <section id="department">

        <h1 id="h1department">DEPARTMENTS</h1>

        <div id="department-flex">


            <div id="dep1">

                <img src={% static "images/publishing.png" %} alt="">

                <h2>PUBLISHING</h2>

                <p id="dep-line"></p>

                <P>This department has direct relationships with Performing Rights Organizations and other collection societies across the globe. With years of experience our team can pitch and collect on your behalf increasing growth and revenue. </P>




            </div>
            <div id="dep2">

                <img src={% static "images/distribution.png" %} alt="">

                <h2>DISTRIBUTION</h2>

                <p id="dep-line"></p>

                <p> Grow your audience and distribute your content globally. Our distribution platform allows the artist to monetize music videos, compositions, and sound recordings. WIth an easy to use interface you can view your analytics, handle splits,
                    and manage royalties. </p>




            </div>
            <div id="dep3">

                <img src={% static "images/consulting.png" %} alt="">

                <h2>CONSULTING</h2>

                <p id="dep-line"></p>

                <p>With over 20 years in the music industry Immensum Music has shaped many artist’s careers from around the globe. Our consultation department focuses on marketing, artist development, and industry resources to help you reach your goals.
                </p>




            </div>
            <div id="dep4">

                <img src={% static "images/rights.png" %} alt="">

                <h2>RIGHTS</h2>

                <p id="dep-line"></p>

                <p>Any time your song is broadcast on the radio or TV, or played live in concert, your “neighboring rights” are due. We manage complex ownership splits by territory for every asset type and set protection policies to meet your goals as a
                    creator. </p>




            </div>
            <div id="dep5">

                <img src={% static "images/management.png" %} alt="">

                <h2>MANAGEMENT</h2>

                <p id="dep-line"></p>

                <p>Our management department consistently shares their experience, network, and knowledge across teams around the world giving each client an advantage above the rest.The team will implement strategy in all aspects of the client's career.</p>




            </div>

        </div>

    </section>



    <footer>
        <div class="footer-segment">
            <img id="img-footer" src={% static "images/logoacc.png" %} alt="">
        </div>
        <div id="footer">
            <div class="footer-segment">
                <h4>Contact Us</h4>
                <p>Email: info@afroholic.com</p>
                <div class="social-media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-segment">


                <h4>Stay up to date with exclusive releases,contents and more...</h4>
                <form method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <button type="submit"> <span>Subscribe</span></button>
                </form>
            </div>

        </div>
    </footer>









</body>

</html>