{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afroholic</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{% static 'images/Afroholic(1).png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label id="checkbtn" for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>

        <a href="{% url 'subscribe' %}"> <img id="logoimg" src={% static "images/logoacc.png" %} alt="LogoREFXG"></a>

        <ul>
            <a href="{% url 'subscribe' %}"><img id="logoimg1" src={% static "images/logoacc.png" %} alt="LogoREFXG"></a>
            <li><a href="{% url 'subscribe' %}">HOME</a></li>
            <li><a href="{% url 'department' %}">DEPARTMENTS</a></li>
            <li><a href="{% url 'artistes' %}">CLIENTS</a></li>
            <li><a href="{% url 'artistes' %}">ARTISTES</a></li>

        </ul>

    </nav>

    <section id="img-slide">

        <div id="fb1">

            <div style="margin: auto;">
                <img id="logoimgslide" src={% static "images/logoacc.png" %} alt="">
            </div>




            <p id="pfb1">Holic : A person having an abnormal desire for or dependence on… <br><br> AFROHOLIC Our name speaks for itself. We love all types of music. However we have chosen to spotlight the diverse music coming out of the continent of Africa. The number
                of dialects and languages in Africa is simply mind boggling. What’s even more remarkable is that when accompanied by music it doesn’t matter what the language is. Whether you understand the lyrics or not, the music just connects.
                <br> AFROBEATS | AFROFUNK | AFROSOUL | AFROHOUSE | AFROJAZZ | AFROMANCE | AFROHILIFE | AFROCONTEMPORARY. <br> We live and love it all. Welcome home!</p>





        </div>

        <div id="fb11">

            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegunacc1.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegunacc2.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegunacc3.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegunacc4.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegunacc5.jpg" %}>
            <img id="slider-img" class="mySlides w3-animate-fading" src={% static "images/olusegunart.jpg" %}>




            <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides ");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none ";
                    }
                    myIndex++;
                    if (myIndex > x.length) {
                        myIndex = 1
                    }
                    x[myIndex - 1].style.display = "block ";
                    setTimeout(carousel, 4000); // Change image every 2 seconds
                }
            </script>

        </div>




    </section>


    <section id="latest">

        <h1 id="hlatest">OUR <br> PROJECTS</h1>

        <div class="dots-container">
            <div class="dot "></div>
            <div class="dot "></div>
            <div class="dot "></div>
            <div class="dot "></div>
            <div class="dot "></div>
            <div class="dot "></div>
            <div class="dot "></div>
            <div class="dot "></div>
            <div class="dot "></div>
            <div class="dot "></div>
        </div>

        <div id="image-flex">

            <div>
                {% for project in project1_list %}

                <p style="text-align: center;bottom: 2em; position: relative; "> {{ project.song_name }} <br>" {{ project.artist_name }} "
                </p>
                <h2 style="text-align: center;bottom: 1em; position: relative; ">01</h2>

                <p id="img-flex1line"></p>

                <a target="_blank" href="{{ project.link }}"><img id="img-flex1" src="{{ project.project_image.url }}"></a>

                {% endfor %}
            </div>

            <div>
                {% for project in project2_list %}


                <p style="text-align: center; ">{{ project.song_name }}<br> " {{ project.artist_name }} "
                </p>
                <h2 style="text-align: center;">02</h2>
                <p id="img-flex2line"></p>

                <a target="_blank" href="{{ project.link }}"><img id="img-flex2" src="{{ project.project_image.url }}"></a>

                {% endfor %}
            </div>





        </div>

    </section>




    <section id="videos">

        <h1 id="h1videos">OUR <br> VIDEOS</h1>

        <div id="vid-flex">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/afpPS7ysA8s?si=cuJrsaVm35WIVJgK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


            <<iframe src="https://jumpshare.com/embed/Z06wFNTIAjTRPHjv2u5c" frameborder="0" width="560" height="315" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>


        </div>
    </section>


    <section id="department">

        <h1 id="h1department">DEPARTMENTS</h1>

        <div id="department-flex">


            <div id="dep1">

                <img id="dep-img" src={% static "images/publishing.png" %} alt="">

                <h2 id="h2dep">MUSIC SYNC AND LICENSING</h2>

                <p id="dep-line"></p>

                <P id="pdep">We elevate artists music career with our specialized sync and licensing services. We facilitate partnerships between artists and various media platforms, ensuring your music reaches new audiences through films, TV shows, commercials, and
                    more. Let us help you navigate the licensing landscape and maximize your earning potential while showcasing your talent to the world. </P>




            </div>
            <div id="dep2">

                <img id="dep-img" src={% static "images/distribution.png" %} alt="">

                <h2 id="h2dep">DISTRIBUTION</h2>

                <p id="dep-line"></p>

                <p id="pdep"> Through our distribution platform, we assist artists in sharing their music worldwide, with the primary goal of fostering growth. Additionally, we aid artists in generating income from every piece of work they release. Even in split sharing
                    and royalties. </p>




            </div>
            <div id="dep3">

                <img id="dep-img" src={% static "images/consulting.png" %} alt="">

                <h2 id="h2dep">CONSULTING</h2>

                <p id="dep-line"></p>

                <p id="pdep">With a team boasting over two decades of collective experience, this sector of the company focuses on artist development, strategic resource allocation, and effective music marketing. Our mission is to support artists in reaching their
                    fullest potential and expanding their audience reach.
                </p>




            </div>
            <div id="dep4">

                <img id="dep-img" src={% static "images/rights.png" %} alt="">

                <h2 id="h2dep">SHOWS & LIVE PERFORMANCE</h2>

                <p id="dep-line"></p>

                <p id="pdep">We bring a difference in our live performances with our comprehensive range of services tailored to meet the unique needs of artists and event organizers. From stage setup and technical support to artist bookings and venue coordination,
                    we're here to ensure your live shows are unforgettable experiences for both performers and audiences alike. </p>




            </div>
            <div id="dep5">

                <img id="dep-img" src={% static "images/management.png" %} alt="">

                <h2 id="h2dep">MANAGEMENT</h2>

                <p id="dep-line"></p>

                <p id="pdep">Our management team crafts customized and detailed strategies tailored to each artist, ensuring they can reach maximum and achievable goals</p>




            </div>

        </div>

    </section>


    <section id="shop-sec">

        <h1 id="shoph1">

            SHOP

        </h1>

        <div id="bothmerch">

            <div id="merch1-flex">




                {% for shop in shop1_list %}


                <img id="merch-shirt2" src="{{ shop.merch_image.url }}" alt="Afroholic Merch">

                <div id="merchparagraph">

                    <p id="merch1p1">

                        {{ shop.merch_name }}

                    </p>

                    <p id="merch1p2">

                        {{ shop.merch_description }}

                        <br> ₦{{ shop.merch_price }}
                    </p>

                    <form id="merch1-button-form" target="_blank" action="{{ shop.merch_link }}">

                        <button id="merch1-button">BUY NOW</button>

                    </form>


                    {% endfor %}

                </div>

            </div>



            <div id="merch2-flex">





                {% for shop in shop2_list %}

                <img id="merch-hoddie2" src="{{ shop.merch_image.url }}" alt="Afroholic Merch">

                <div id="merchparagraph2">

                    <p id="merch2p1">

                        {{ shop.merch_name }}

                    </p>



                    <p id="merch2p2">

                        {{ shop.merch_description }}

                        <br> ₦{{ shop.merch_price }}
                    </p>


                    <form id="merch2-button-form" target="_blank" action="{{ shop.merch_link }}">

                        <button id="merch2-button">BUY NOW</button>

                    </form>


                    {% endfor %}

                </div>

            </div>

        </div>



    </section>


    <section id="subscribe">

        <h2 id="subh2">

            Join 15500+ subscribers

        </h2>

        <p id="subp">

            lovers of My Afroholic Music. I would love you to Subscribe, so you can easily get updates on What’s new and going on with the label and when there is an event near you. Thank You!.

        </p>

        <form class="input-group" action="" method="post">
            {% csrf_token %} {{ form.as_p }}

            <input class="button--submit" value="Submit" type="submit">
        </form>


    </section>



    <footer>
        <div class="footer-segment">
            <img id="img-footer" src={% static "images/logoacc.png" %} alt="">
        </div>
        <div id="footer">
            <div class="footer-segment">
                <h4>Contact Us</h4>
                <p>Email: info@afroholicmusic.com</p>
                <p>Phone: +23481104362248</p>
                <p>Address: Ikeja, Lagos.</p>

                <div class="social-media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
    </footer>









</body>

</html>