{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afroholic</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{% static 'images/Afroholic(1).png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body style="background-color: #141416;">

    <h2 style="text-align: center;
position: relative;
top: 5em;font-weight: 900; color:white;">THANK YOU FOR SUBSCRIBING</h2>
    <p style="text-align: center;
position: relative;
top: 15em;
font-size: 18px;
font-weight: 900; color:white;">Welcome to the Afroholic Family!!</p>


<script src="https://run.confettipage.com/here.js" data-confetticode="U2FsdGVkX19lJ0wlDjW//O9mwluRcwUFk3pKZs7sQGkiSsxI4ilWUZM0S3oFAlLS0YkdysMsN01JM162IyJ4WwwxrAod0+aIU0pRs05Sz7elDVMBCgwga2LSa3BH6CSsBYS3XqHt/CY7wGtfk+1b5WqJfGox/bMHHMz+ufmkZbVwAdgDJPERjTGK0IrO919OF8DjzPO6QCEZB924faUFZSqdxFsMuXrIQoQSqMm+7gFMquPT69IYxlY247lrclNfEuXRHjBPcoKdPYaklA3E4HNIAYNEBXidJTeW/Yc+AS8nG6hSy6i1Z5zovOF3/OlC+oMR0Ph3rdhw8iJirObmnzoqzqJP35a/sGU0vDZQmjRA4Q/kOmgOyv8JpPJsfN/AXq17zWSUTB0x6KsOSPLT8WXnZp+u5uSquB6mBg6Aj14ynXdLq0+eIidC90NIl8Tl2jcpEujBwex4XvT956eBEfHOUQr2LnnQ7LTDG1vbrsnHHfJvr6rjChMWh0l/Dzbn0fE5N07xRouDlfFCQszzjqS4jRG9aEcF8C7VDwtzb2koj4fSXHcnbR68jihkxEKfZnXGziUn0asBgEC3zBeT2Fjrg5F2mE9ijj9GVYWJxE31WGjw4j/wX0xlZHp7w/vWHXhp41oE7XxwXl+a859Wk23dxVpfdTDSvnZlG9Rbh1VvBE6kbnyXjxSDgUdafFNbcfx424JvKD3l79W3Nff1g8p/SJxHEorb78VS2F9fF+I="></script>

    <script>
        setTimeout(function() {
            window.location.href = "{% url 'subscribe' %}"; // Replace with the actual URL of your landing page
        }, 5000);
    </script>

</body>

</html>