{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>AFROHOIC MUSIC</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- css -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<link href="{% static 'css/jcarousel.css' %}" rel="stylesheet" />
<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
<link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<link href="{% static 'css/custom.css' %}" rel="stylesheet" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'subscribe' %}"><img style="height: 5em;
    position: relative;
    top: -2em;" src={% static "img/logoacc.png" %} alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'subscribe' %}">HOME</a></li> 
						<li><a href="#content">ABOUT US</a></li>
						<li><a href="{% url 'artistes' %}">CLIENTS</a></li>
                        <li><a href="{% url 'artistes' %}">ARTISTS</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
	</header>


        <section id="about-section" class="pt-5 pb-5">
            <div class="container wrapabout">
                <div class="red"></div>
                <div class="row">
                    <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                        <div class="blockabout">
                            <div class="blockabout-inner text-center text-sm-start">
                                <div class="title-big pb-3 mb-3">
                                    <h3>VENNESSA JACKSON</h3>
                                </div>
                                <p class="description-p text-muted pe-0 pe-lg-0">
                                    Venessa Jackson is a South African songwriter, vocalist, performer who is about to venture on her first journey outside of her homeland. Venessa was influenced by her mother to sing at a very young age and won her first competition at 6 years old. Fast
                                    forward 33 years and there is not a day where Venessa doesn't pick up a pen and writing pad. If she isn't working on writing vocals, she is in the studio recording her magic. She currently has over a hundred releases
                                    consisting of originals, cover reworks, and remixes. She has recently been honored to be featured in the new book 'LADY OF THE HOUSE' where she joins 181 other inspirational women to share their stories of the part,
                                    they have played in Dance Music's past, present & future.


                                </p>
                                <p class="description-p text-muted pe-0 pe-lg-0"> Venessa continues to release new music and is constantly expanding her catalog with major labels in the House and Dance community.</p>
                                <div class="sosmed-horizontal pt-3 pb-3">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                    <a href="#"><i class="fa fa-spotify"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 mt-lg-0">
                        <figure class="potoaboutwrap">
                            <img id="img-profile" class="img-profile" src={% static "img/olusegunacc5.jpg" %} alt="potoabout" />

                        </figure>
                        <script>
                            var myIndex = 0;
                            carousel();

                            function carousel() {
                                var i;
                                var x = document.getElementsByClassName("img-profile ");
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "none ";
                                }
                                myIndex++;
                                if (myIndex > x.length) {
                                    myIndex = 1
                                }
                                x[myIndex - 1].style.display = "block ";
                                setTimeout(carousel, 4000); // Change image every 2 seconds
                            }
                        </script>
                    </div>
                </div>
            </div>
        </section>

        <footer style="top:15em;">
            <div class="footer-segment">
                <img id="img-footer" src={% static "img/logoacc.png" %} alt="">
            </div>
            <div id="footer">
                <div class="footer-segment">
                    <h4>Contact Us</h4>
                    <p>Email: info@afroholicmusic.com</p>
                    <p>Phone: +23481104362248</p>
                    <p>Address: Ikeja, Lagos.</p>
    
                    <div class="social-media-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
    
            </div>
        </footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
    <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
    <script src="{% static 'js/portfolio/setting.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/animate.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
</body>
</html>